
<!-- Card do material design -->
<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um CRUD em Angular.
    </mat-card-subtitle>
    
    <ul>
        <!-- Chamando a diretiva ForDirective que itera um array de números -->
        <!-- Vai criar um <li> para cada iteração -->
        <li *myFor="let n em [1, 2, 3]">{{ n }}</li>
    </ul>

</mat-card>
